#toolbox{
    position: absolute;
    left:0.25rem;
    top:3.5rem;
    opacity: 1; // Start at 0.09 on mouseover, update to 1.0
}

#toolbox.open{
    width:6rem;
}

#toolbox.closed{
    /* need to change side icon. */
    width:1rem;
}